.connector-layer {
  position: absolute;
  left: -5000px;
  top: -5000px;
  width: 10000px;
  height: 10000px;
  pointer-events: none;
  z-index: 0;
  overflow: visible;
}

.connector-line {
  stroke: #00ff96;
  stroke-width: 3;
  stroke-dasharray: 8 6;
  animation: dash-flow 1s linear infinite;
}

@keyframes dash-flow {
  to {
    stroke-dashoffset: -14;
  }
}
